@import "../../node_modules/antd/dist/antd.min.css";
html, body, #root {
  height: 100%;
}

.page{
  padding:0 30px;
}

.btn_group{
  padding-top:10px;
}

.btn_group>.btn:last-child{margin-left:5px;}

.btn_control>.btn{
  margin-left:10px;
}
.btn_control>.btn:first-child{margin-left:0;}
