/*@color:#red;*/
@import "../../node_modules/antd/dist/antd.min.css";
@import "./color.less";
@import "./common.less";
#root{
  position: relative;height:100%;
  >.container{
    width:300px;overflow:hidden;
    position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);
    >.title{text-align: center;margin-bottom:30px;overflow:hidden;}
  }
  >.container.register{
    width:600px;
  }
  >.container.login{
    >.login-form{
      overflow:hidden;
      .login-form-forgot{
        float: right;
      }
      .login-form-button{
        clear:both;
        width:100%;
        display:block;
      }
      .login-form-register{

      }
    }
  }
}
